.entireAboutPageDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(41, 41, 41);
}

.aboutPagePicDiv {
  height: 400px;
  width: 100%;
}

.bodyDivContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  height: auto;
  background-color: rgb(56, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutPageBodyDiv {
  margin-top: 45px;
  margin-bottom: 45px;
  margin-right: 45px;
  margin-left: 45px;
  width: 90%;
  height: auto;
  background-color: white;
  border: solid 3px rgb(124, 124, 124);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.aboutTitle {
  font-family: "Dancing Script", cursive;
  font-family: "Estonia", cursive;
  font-family: "Hurricane", cursive;
  font-size: 45px;
  width: 85%;
  height: auto;
  text-align: center;
  border-bottom: solid 3px black;
}

@media screen and (max-width: 421px) {
  .aboutTitle {
    font-size: 40px;
  }
}

@media screen and (max-width: 355px) {
  .aboutTitle {
    font-size: 35px;
  }
}

.aboutTitle h1 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.bioDiv {
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 381px) {
  .AboutPageBodyDiv {
    width: 90%;
    margin: 25px;
  }
}

.bioDiv p {
  font-size: 23px;
}

@media screen and (max-width: 350px) {
  .bioDiv p {
    font-size: 15px;
  }
}
