.homePageMainDiv {
  width: 100vw;
  height: 100vh;
}

.headerVidDiv {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.caption {
  margin-top: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  height: 225px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "Dancing Script", cursive;
  font-family: "Estonia", cursive;
  font-family: "Hurricane", cursive;
}

@media screen and (max-width: 491px) {
  .caption {
    font-size: 42px;
  }
  .headerVidDiv {
    height: 375px;
  }
}

.caption h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */

  /* letter-spacing: 0.15em;  */
  animation: fadeIn 5s;
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overallMiddlePage {
  width: 100%;
  height: auto;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: center;
  margin-top: 210px;
}

.midPageContent {
  width: 90%;
  height: auto;
  background-color: white;
  margin-bottom: 80px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midPageTitles {
  font-family: "Dancing Script", cursive;
  font-family: "Estonia", cursive;
  font-family: "Hurricane", cursive;
  font-size: 45px;
  width: 85%;
  height: auto;
  text-align: center;
  border-bottom: solid 3px black;
}

@media screen and (max-width: 379px) {
  .midPageTitles {
    font-size: 37px;
  }
}

.midPageTitles h1 {
  margin-bottom: 15px;
}

.planningForDay {
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.midPageBody {
  margin-top: 20px;
  width: 80%;
  text-align: center;
  background-color: rgb(223, 223, 223);
}

.midPageBody p {
  font-size: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.videoDiv {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 800px;
  height: 500px;
}

@media screen and (max-width: 949px) {
  .videoDiv {
    width: 85%;
  }
}

@media screen and (max-width: 665px) {
  .videoDiv {
    height: 400px;
  }
}

@media screen and (max-width: 550px) {
  .videoDiv {
    height: 325px;
  }
}

@media screen and (max-width: 450px) {
  .videoDiv {
    height: 250px;
  }
}

.weddingVid {
  width: 100%;
  height: 100%;
}

.midPageLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

.lowerPageLink {
  text-decoration: none;
  color: black;
  margin-right: 3px;
  margin-left: 3px;
  font-weight: 600;
}

.lowerPageLink:hover {
  color: blue;
}
